.about {
    background-image: url("../images/about/bg.jpg");
    background-repeat: no-repeat;
    background-position: right;
}
  
.about__inner {
    display: flex;
}
  
.about__left {    
    width: 50%;
    margin-right: 45px;
}
  
.about__desc {
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;

    p {
        margin-bottom: 35px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

  
.about__quote {
    margin-bottom: 30px;
    padding: 30px;
    line-height: 1.7;
    font-size: 18px;
    font-weight: 500;
    background: -webkit-linear-gradient(180deg, rgb(221, 222, 222), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(180deg, rgb(221, 222, 222), rgba(255, 255, 255, 0));
    background: linear-gradient(180deg, rgb(221, 222, 222), rgba(255, 255, 255, 0));
}
  
.about__quote-text {
    display: block;
    margin-bottom: 25px;
}
  
.about__quote-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}
  
.about__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
}
  
.about__value {
    min-width: 40%;
    margin-right: 10px;
    font-family: "PT Serif";
    font-weight: 700;
    font-size: 65px;
    color: $green;
}
  
.about__text {
    display: block;
    font-size: 20px;
    max-width: 150px;
}
  
.about__right {
    width: 50%;
}
  
.about__img {
    border-radius: 5px 5px 120px 5px;
    overflow: hidden;

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}