.btn {
    display: inline-block;
    padding: 1.1em 2.2em;
    font-size: 13px;
    font-weight: 500;
    color: $white;
    border-radius: 4em;
    background: linear-gradient(176.3deg, #0AD574 3.03%, #00A556 71.86%);
}