.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.contacts__item {
    display: flex;
    align-items: center;
    margin-right: 70px;
    color: $white;
}
  
.contacts__icon {
    display: block;
    margin-right: 7px;
}